<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/ui&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-horizontal-layout style-name="app-shell" spacing="false" responsive size-full>
   <vaadin-css-layout style-name="navigation-bar-container" width="200px" height-full>
    <vaadin-css-layout style-name="navigation-bar" size-full>
     <vaadin-label style-name="logo" width-full plain-text>
       g4 DKE PR 
     </vaadin-label>
     <vaadin-button icon="fonticon://Vaadin-Icons/e7b3" style-name="menu borderless" plain-text _id="menuButton">
       Menu 
     </vaadin-button>
     <vaadin-css-layout style-name="navigation" width-full _id="menu">
      <vaadin-button icon="fonticon://Vaadin-Icons/e67f" style-name="borderless" width-full plain-text _id="contexts">
        Contexts 
      </vaadin-button>
      <vaadin-button icon="fonticon://Vaadin-Icons/e67b" style-name="borderless" width-full plain-text _id="contextsClass">
        ContextClass 
      </vaadin-button>
      <vaadin-button icon="fonticon://Vaadin-Icons/e7d3" style-name="borderless" width-full plain-text _id="parameter">
        Parameter 
      </vaadin-button>
      <vaadin-button icon="fonticon://Vaadin-Icons/e691" style-name="borderless" width-full plain-text _id="parameterValue">
        ParameterVal. 
      </vaadin-button>
      <vaadin-button icon="fonticon://Vaadin-Icons/e75a" style-name="borderless" width-full plain-text _id="messagingService">
        Messaging Service 
      </vaadin-button>
      <vaadin-button icon="fonticon://Vaadin-Icons/e798" style-name="borderless" width-full plain-text _id="logout">
        Logout 
      </vaadin-button>
     </vaadin-css-layout>
    </vaadin-css-layout>
   </vaadin-css-layout>
   <vaadin-vertical-layout style-name="content-container" spacing="false" size-full margin="false" :expand>
    <vaadin-label style-name="view-title" width="94.32%" plain-text _id="viewTitle">
      View title 
    </vaadin-label>
    <vaadin-css-layout size-full _id="content" :expand>
     <vaadin-css-layout style-name="padding-right padding-bottom padding-left" size-full>
      <vaadin-css-layout style-name="content-section padding" size-full></vaadin-css-layout>
     </vaadin-css-layout>
    </vaadin-css-layout>
   </vaadin-vertical-layout>
  </vaadin-horizontal-layout>
 </body>
</html>